body {
    font-size: larger;
    font-family: sans-serif;

    background-color: whitesmoke;
    color: royalblue;
}

h2 {
    font-size: 64pt;
    margin-bottom: 10pt;
}

a {
    background-color: royalblue;
    color: whitesmoke;
    padding: 6pt;
    border-radius: 6pt;
    text-decoration: none;
}

.content {
    width: 80%;
    margin: 100pt auto;

    text-align: center;
}

